@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 98%;
		--foreground: 0 0% 0%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 0%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 0%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--primary: 0 0% 0%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 0% 92%;
		--secondary-foreground: 0 0% 0%;
		--accent: 0 0% 92%;
		--accent-foreground: 0 0% 0%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 63.9%;
		--radius: 0.5rem;
	  }
	
	  .sample {
		--background: 30 100% 96%;
		  --foreground: 0 0% 10%;
		  --muted: 30 20% 90%;
		  --muted-foreground: 0 0% 30%;
		  --popover: 0 0% 100%;
		  --popover-foreground: 0 0% 10%;
		  --card: 0 0% 100%;
		  --card-foreground: 0 0% 10%;
		  --border: 30 10% 80%;
		  --input: 30 10% 80%;
		  --primary: 97 66% 67%;
		  --primary-foreground: 0 0% 100%;
		  --secondary: 30 20% 80%;
		  --secondary-foreground: 0 0% 10%;
		  --accent: 30 30% 70%;
		  --accent-foreground: 0 0% 10%;
		  --destructive: 0 84% 60%;
		  --destructive-foreground: 0 0% 100%;
		  --ring: 97 66% 67%;
		  --radius: 0.5rem;
	  }
	
	  .dark {
		--background: 287 52% 0%;
		--foreground: 287 12% 98%;
		--muted: 257 37% 5%;
		--muted-foreground: 257 0% 70%;
		--popover: 287 52% 0%;
		--popover-foreground: 287 12% 98%;
		--card: 216.67 0% 2.69%;
		--card-foreground: 287 12% 98%;
		--border: 287 2% 13%;
		--input: 287 2% 13%;
		--primary: 183.4 36.94% 47.75%;
		--primary-foreground: 0 0% 100%;
		--secondary: 267.17 52% 41.5%;
		--secondary-foreground: 0 0% 100%;
		--accent: 216.67 34.62% 10.2%;
		--accent-foreground: 0 0% 100%;
		--destructive: 2 96% 53%;
		--destructive-foreground: 0 0% 100%;
		--ring: 181.13 42.95% 46.82%;
	  }
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
